<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Afif's Personal Web</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'index.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    </head>
    
    <body>
        <div class=zero>
            <img src="{% static 'ui.png' %}" alt="bg" class="bg">
            <p class="b" >M AFIFUL AMIN</p>
            <p class="g">Designer. Developer.</p>
            <img src="{% static 'pp.png' %}" alt="PP" class="centered" width="200" height="200">
            <p class="a">ABOUT ME</p>
            <hr class="line" size="10" width="5%" noshade>
        </div>
        
        <div class="one"><h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, esse.</h1></div>
        <div class="two">
            <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, suscipit!</h1>
            <footer class="footer">
                <div class="container">
                    <span class="text-muted">2018. Muhammad Afiful Amin. Fakultas Ilmu Komputer Umiversitas Indonesia.</span>
                </div>
            </footer>
        </div>
        
    </body>
</html>
