body, html {
    height: 100%;
    margin: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.zero{
    color: #36384c;
    text-align: center;
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
}

.bg {
    position: absolute;
    width: 100%;
    height: 50%; 
    left: 0%;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.one{
    background-color: #fff;
    color: #36384c;
    text-align: center;
    height: 100vh;
    scroll-snap-align: start;
}

.two{
    background-color: #fff;
    color: #36384c;
    text-align: center;
    height: 100vh;
    scroll-snap-align: start;
}

.centered {
    position: absolute;
    max-height: 200%;
    max-width: 200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px){
    .centered{
        width:100px;
        height:100px;
    }  
}

p.b {
    position: absolute;
    top: 20%;
    left: 50%;
    font-family: "Patua One", cursive;
    color: whitesmoke;
    transform: translate(-50%, -50%);
    font-size: 4vw;
}

p.g {
    position: absolute;
    top: 27%;
    left: 50%;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    color: #adc997;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
}

p.a {
    position: absolute;
    top: 90%;
    left: 50%;
    font-family: "Patua One", cursive;
    color: #36384c;
    transform: translate(-50%, -50%);
    font-size: 2.5vw;
}

.line {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    position: sticky;
    top: 100%;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}